/*ESTILO GLOBAL*/
*{
    margin: 0; /*Zera a Margem*/
    padding: 0; /*Zera o Preenchimento*/
    box-sizing: border-box; /*Ajusta o Box Model*/
    font-family: 'Marcellus', serif; /*Fonte do Google - Marcellus*/
}

/*CONTEÚDO DO HTML*/
body{
    max-width: 100vw; /*Largura Máxima de 100% do Viewport*/ 
    min-height: 100vh; /*Altura Máxima de 100% do Viewport*/
    background-color: #000; /*Cor de Fundo Branca - 60%*/
    color: white; /*Cor de Fundo Cinza - 30%*/
}

/*ADICIONA CLASSE PARA MANIPULAÇÃO JS*/
.body-responsive{
    overflow: hidden;
}

/*TODO OS TÍTULOS*/
h1{
    font-size: 1.5rem; /*Tamanho da fonte de 150%*/
    font-family: "Gowun Batang", serif; /*Fonte do Google - Gowun Batang*/
}

/*TODOS OS TEXTOS QUE NÃO SÃO TÍTULOS*/
p, a, span{
    font-size: 0.78rem; /*Tamanho da Fonte de 78%*/
}

/*TODOS OS TEXTOS QUE SÃO LISTAS */
p, ol, li{
    font-size: 1.00rem; /*Tamanho da Fonte de 78%*/
}

/*TODOS OS PARÁGRAFOS*/
p{
    margin-bottom: 16px; /*Margem em baixo de 16px*/
}

/*TEXTO IMPORTANTE*/
span{
    margin-top: 16px; /*Margem do Topo de 16px*/
}

/*ULTIMA OCORRÊNCIA DO P*/
p:last-child{
    margin: 48px 0 16px 0; /*Margem de 48px em cima e 16px embaixo e zera as demais*/
}

/*CABEÇALHO*/
header{
    background-color: white; /*Cor de Fundo Cinza com opacidade*/
    box-shadow: 1px 1px 10px #272D2D; /*Sombra Cinza*/
    display: flex; /*Flexbox*/
    justify-content: space-between; /*Alinha os elementos cada um no topo*/
    align-items: center; /*Alinha os Itens ao Centro*/
    padding: 0 16px; /*Preenchimento Vertical zero e Horizontal de 16px*/
}

/*LOGOTIPO*/
#logo{
    width: 144px; /*Largura de 144px*/
}

/*ADICIONA CLASSE PARA MANIPULAÇÃO JAVASCRIPT*/
.menu-responsive{
    background-color: #272D2Dca; /*Cor de Fundo Cinza com opacidade*/
    width: 100%; /*Largura de 100%*/
    height: 100%; /*Altura de 100%*/
    position: absolute; /*Posição Absoluta*/
    top: 0; /*Alinha no topo*/
    right: 0; /*Alinha na Esquerda*/
    display: flex !important; /*Flexbox com Maior Especifidade*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha o Eixo Perpendicular ao Centro*/
    justify-content: center; /*Alinha o Eixo Principal ao Centro*/
    gap: 48px; /*Espaçamento de 48px*/
}

/*MENU*/
#menu {
    display: none;
    z-index: 1; /*Camada 1*/
    list-style: none; /*Oculta as Marcações da Lista*/
}

/*LINKS DO MENU*/
#menu a{
    padding: 16px; /*Preenchimento de 16px*/
    border: 0px solid #272D2D; /*Borda branca de 1px -> zerei*/
    border-radius: 4px; /*Arredonda o botão*/
    background-color: #272D2D; /*Cor de Fundo Cinza*/
    color: #FDFFFF; /*Cor dos Links Branco*/
    text-decoration: none; /*Tira o Sublinhado*/
}

/*BTN DO MENU MOBILE*/
#abrirMenuMobile, #fecharMenuMobile{
    height: 32px; /*Altura de 32px*/
    
}

/*BTN FECHAR MENU MOBILE*/
#fecharMenuMobile{
    z-index: 2; /*Camada 2*/
    display: none; /*Oculta o Botão*/
}

/*ADICIONA CLASSE PARA MANIPULAÇÃO JAVASCRIPT*/
.abrir-menu-responsive{
    display: none; /*Esconde o Elemento*/
}

/*ADICIONA CLASSE PARA MANIPULAÇÃO JAVASCRIPT*/
.fechar-menu-responsive{
    display: flex !important; /*Aparece o Elemento com Especifidade Alta*/
}

/*CONTEÚDO PRINCIPAL E SEÇÕES DO CONTEÚDO PRINCIPAL*/
main section{
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha ao Centro no Eixo Perpendicular*/
    margin-top: 48px; /*Margem no topo de 48px*/
    padding: 0 32px; /*Espaçamento de 0px na Vertical e de 32px na Horizontal*/
}

/*IMAGENS DA SEÇÃO DO CONTEÚDO PRINCIPAL E MAPA DO GOOGLE*/
main section img, iframe{
    border-radius: 8px; /*Arredonda a Borda*/
    width: 100%; /*Largura de 100%*/
    margin: 32px 0; /*Margem de 32px na Vertical e 0px na Horizontal*/
}

/*ESCONDER MOBILE*/
.hidden-mobile{
    display: none; /*Esconde o Elemento*/
}

/*RODAPÉ*/
footer{
    height: 80px; /*Altura de 80px*/
    box-shadow: 1px 1px 10px; /*Sombra*/
    border-radius: 0px; /*Arredonda a Borda*/
    display: flex; /*Flexbox*/
    justify-content: center; /*Alinha ao centro no Eixo Principal*/
    align-items: center; /*Alinha ao centro no Eixo Perpendicular*/
    margin-top: 48px; /*Margem no topo de 48px*/
    background-color: white; /*Cor de Fundo Cinza*/
}

/*ICONES DAS REDES SOCIAIS*/
.icons{
    width: 48px; /*Largura de 48px*/
    margin-left: 16px; /*Margem a esquerda de 16px*/
    background-color: white; /*Cor de Fundo Cinza*/
}